<% if (people.length) { %>
  <% _.each(people, function(person) { %>
  <li class="result">
    <h2><%= person.name %></h2>

    <a class="btn btn-primary like"><i class="icon-thumbs-up icon-white"></i> Like</a>
    <a class="btn remove"><i class="icon-remove"></i> Remove</a>

    <p class="company"><%= person.company.name %></p>
    <p class="catchphrase"><%= person.company.catchPhrase %></p>
  </li>
  <% }); %>
<% } else { %>
  <li class="no-results">There are no results.</li>
<% } %>
